<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.danielkennett.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Daniel Kennett. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Export</string>
			<key>uuid</key>
			<string>C1195A48-6A57-477E-BED3-F95A774C358C</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>FiveHundredPxApertureExporter</string>
			<key>displayName</key>
			<string>500px</string>
			<key>helpURL</key>
			<string>https://github.com/iKenndac/500px-Aperture-Uploader</string>
			<key>protocolNames</key>
			<array>
				<string>ApertureExportPlugIn</string>
			</array>
			<key>uuid</key>
			<string>18641BC7-3223-4640-9CA7-D3885A727045</string>
		</dict>
	</array>
	<key>ProPlugProtocolList</key>
	<array>
		<dict>
			<key>protocolName</key>
			<string>ApertureExportManager</string>
			<key>versions</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
