<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>name</key>
			<string>Abstract</string>
			<key>id</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Animals</string>
			<key>id</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Black and White</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Celebrities</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>City and Architecture</string>
			<key>id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Commercial</string>
			<key>id</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Concert</string>
			<key>id</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Family</string>
			<key>id</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Fashion</string>
			<key>id</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Film</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Fine Art</string>
			<key>id</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Food</string>
			<key>id</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Journalism</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Landscapes</string>
			<key>id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Macro</string>
			<key>id</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature</string>
			<key>id</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Nude</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>People</string>
			<key>id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Performing Arts</string>
			<key>id</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Sport</string>
			<key>id</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Still Life</string>
			<key>id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Street</string>
			<key>id</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Transportation</string>
			<key>id</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel</string>
			<key>id</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Underwater</string>
			<key>id</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Urban Exploration</string>
			<key>id</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Wedding</string>
			<key>id</key>
			<integer>25</integer>
		</dict>
	</array>
</dict>
</plist>
