<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleVersion</key>
	<integer>5</integer>
	<key>VersionString</key>
	<string>2.0</string>
	<key>MoreInfoURL</key>
	<string>https://github.com/iKenndac/500px-Aperture-Uploader</string>
</dict>
</plist>
